<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10</key>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>viewControllers</key>
		<dict>
			<key>8</key>
			<dict>
				<key>UIData</key>
				<dict>
					<key>0</key>
					<dict>
						<key>fontName</key>
						<string>Futura-CondensedMedium</string>
						<key>fontSize</key>
						<integer>15</integer>
						<key>height</key>
						<real>0.044977511244377814</real>
						<key>id</key>
						<integer>0</integer>
						<key>text</key>
						<string>Label1</string>
						<key>type</key>
						<string>BMLabel</string>
						<key>width</key>
						<real>0.26666666666666666</real>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<real>0.095952023988005994</real>
					</dict>
					<key>1</key>
					<dict>
						<key>fontName</key>
						<string>Futura-Medium</string>
						<key>fontSize</key>
						<integer>12</integer>
						<key>height</key>
						<real>0.044977511244377814</real>
						<key>id</key>
						<integer>1</integer>
						<key>text</key>
						<string>Label2</string>
						<key>type</key>
						<string>BMLabel</string>
						<key>width</key>
						<real>0.26666666666666666</real>
						<key>x</key>
						<real>0.40000000000000002</real>
						<key>y</key>
						<real>0.095952023988005994</real>
					</dict>
					<key>2</key>
					<dict>
						<key>height</key>
						<real>0.044977511244377814</real>
						<key>id</key>
						<integer>2</integer>
						<key>title</key>
						<string>Click me!</string>
						<key>type</key>
						<string>BMButton</string>
						<key>width</key>
						<real>0.26666666666666666</real>
						<key>x</key>
						<real>0.26666666666666666</real>
						<key>y</key>
						<real>0.1409295352323838</real>
					</dict>
					<key>3</key>
					<dict>
						<key>filename</key>
						<string>background.png</string>
						<key>height</key>
						<real>0.074962518740629688</real>
						<key>id</key>
						<integer>3</integer>
						<key>type</key>
						<string>BMImageView</string>
						<key>width</key>
						<real>0.13333333333333333</real>
						<key>x</key>
						<real>0.26666666666666666</real>
						<key>y</key>
						<real>0.24587706146926536</real>
					</dict>
				</dict>
				<key>id</key>
				<integer>8</integer>
				<key>title</key>
				<string>view controller 1</string>
				<key>type</key>
				<string>BMViewController</string>
			</dict>
			<key>9</key>
			<dict>
				<key>UIData</key>
				<dict>
					<key>4</key>
					<dict>
						<key>fontName</key>
						<string>Futura-CondensedMedium</string>
						<key>fontSize</key>
						<integer>15</integer>
						<key>height</key>
						<real>0.044977511244377814</real>
						<key>id</key>
						<integer>4</integer>
						<key>text</key>
						<string>Label1</string>
						<key>type</key>
						<string>BMLabel</string>
						<key>width</key>
						<real>0.26666666666666666</real>
						<key>x</key>
						<integer>0</integer>
						<key>y</key>
						<real>0.095952023988005994</real>
					</dict>
					<key>5</key>
					<dict>
						<key>fontName</key>
						<string>Futura-Medium</string>
						<key>fontSize</key>
						<integer>12</integer>
						<key>height</key>
						<real>0.044977511244377814</real>
						<key>id</key>
						<integer>5</integer>
						<key>text</key>
						<string>Label2</string>
						<key>type</key>
						<string>BMLabel</string>
						<key>width</key>
						<real>0.26666666666666666</real>
						<key>x</key>
						<real>0.40000000000000002</real>
						<key>y</key>
						<real>0.095952023988005994</real>
					</dict>
					<key>6</key>
					<dict>
						<key>height</key>
						<real>0.044977511244377814</real>
						<key>id</key>
						<integer>6</integer>
						<key>title</key>
						<string>Click me!</string>
						<key>type</key>
						<string>BMButton</string>
						<key>width</key>
						<real>0.26666666666666666</real>
						<key>x</key>
						<real>0.26666666666666666</real>
						<key>y</key>
						<real>0.1409295352323838</real>
					</dict>
					<key>7</key>
					<dict>
						<key>filename</key>
						<string>background.png</string>
						<key>height</key>
						<real>0.074962518740629688</real>
						<key>id</key>
						<integer>7</integer>
						<key>type</key>
						<string>BMImageView</string>
						<key>width</key>
						<real>0.13333333333333333</real>
						<key>x</key>
						<real>0.26666666666666666</real>
						<key>y</key>
						<real>0.24587706146926536</real>
					</dict>
				</dict>
				<key>id</key>
				<integer>9</integer>
				<key>title</key>
				<string>view controller 2</string>
				<key>type</key>
				<string>BMViewController</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
